/* #1b1b32
#3b3b4f
#fff;
#f5f6f7; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(240, 30%, 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  width: calc(100vw - 4rem);
  padding: 1rem;
}

.drum-pad-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.drum-pad {
  background: #f5f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}
.drum-pad:active {
  transform: scale(1.1);
}
.drum-pad.active {
  transform: scale(1.1);
}

h2 {
  color: hsl(240, 30%, 15%);
  font-size: 3rem;
  text-align: center;
}

.display-container {
  background: #3b3b4f;
  width: 10rem;
  height: 3rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f6f7;
}
